<h1>Authors#index</h1>
<p>Find me in app/views/authors/index.html.erb</p>
<table>
  <tr>
    <th>Name</th>
  </tr>
  <% @authors.each do |a| %>
    <tr>
      <td><%= a.first_name %></td>
    </tr>
  <% end %>
</table>